.avatar {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  height: 200px;
  width: 200px;
}

.avatar:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#optlett {
  color: #b6cf1c;
  border-color: #b6cf1c;
}

#optlett:hover {
  color: #ffffff;
  background-color: #b6cf1c;
}

#jchemphys {
  color: #0051b9;
  border-color: #0051b9;
}

#jchemphys:hover {
  color: #ffffff;
  background-color: #0051b9;
}

#physchemchemphys {
  color: #63accc;
  border-color: #63accc;
}

#physchemchemphys:hover {
  color: #ffffff;
  background-color: #63accc;
}

#jphyschemlett {
  color: #01c5b9;
  border-color: #01c5b9;
}

#jphyschemlett:hover {
  color: #ffffff;
  background-color: #01c5b9;
}

#naturecomm {
  color: rgb(255,92,0);
  border-color: rgb(255,92,0);
}

#naturecomm:hover {
  color: #ffffff;
  background-color: rgb(255,92,0);
}

#physrevlett {
  color: rgb(33,176,141);
  border-color: rgb(33,176,141);
}

#physrevlett:hover {
  color: #ffffff;
  background-color: rgb(33,176,141);
}

#jphyschemB {
  color: #00cbf8;
  border-color: #00cbf8;
}

#jphyschemB:hover {
  color: #ffffff;
  background-color: #00cbf8;
}

#jphyschemA {
  color: rgb(244,185,10);
  border-color: rgb(244,185,10);
}

#jphyschemA:hover {
  color: #ffffff;
  background-color: rgb(244,185,10);
}

#jchemtheorycomput {
  color: rgb(21,152,18);
  border-color: rgb(21,152,18);
}

#jchemtheorycomput:hover {
  color: #ffffff;
  background-color: rgb(21,152,18);
}

#supermicro {
  color: #18a5ae;
  border-color: #18a5ae;
}

#supermicro:hover {
  color: #ffffff;
  background-color: #18a5ae;
}

#optcomm {
  color: red;
  border-color: red;
}

#optcomm:hover {
  color: #ffffff;
  background-color: red;
}

#nanolett {
  color: #cb0000;
  border-color: #cb0000;
}

#nanolett:hover {
  color: #ffffff;
  background-color: #cb0000;
}

#chemphys {
  color: rgb(255,101,80);
  border-color: rgb(255,101,80);
}

#chemphys:hover {
  color: #ffffff;
  background-color: rgb(255,101,80);
}

#preprint {
  color: rgb(102, 102, 102);
  border-color: rgb(102, 102, 102);
}

#preprint:hover {
  color: #ffffff;
  background-color: rgb(102, 102, 102);
}

.vbu {
  background-image: url("../../assets/img/VBU.png");
  background-repeat: no-repeat;
  background-size: 3%;
  background-position: right 1% bottom 98%;
}

.ncl {
  background-image: url("../../assets/img/Screen%20Shot%202021-05-06%20at%208.17.38%20PM.png");
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: right 1% bottom 98%;
}

.ur {
  background-image: url("../../assets/img/uofrBW.png");
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: right 1% bottom 98%;
}

.cu {
  background-image: url("../../assets/img/CUBW.png");
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: right 1% bottom 98%;
}

a {
  color: rgb(196, 112, 2);
  text-decoration: underline;
}

a:hover {
  color: rgb(143, 82, 3);
}

.btn {
  color: rgb(192, 109, 0);
  text-decoration: none;
  border-color: rgb(196, 112, 2);
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

.navbar:hover {
  background: linear-gradient(120deg,#3e3e3b,#000000);
}

.nav-link {
  text-decoration: none;
}

.item {
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}

.item:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.col-md-6 {
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}

.col-md-6:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.col-md-4 {
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}

.col-md-4:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

